<div class="container" >
    <table class="table is-bordered is-hoverable" matSort (matSortChange)="sortData($event)" >
        <thead>
            <th mat-sort-header="id">Código</th>
            <th mat-sort-header="name">Nombre</th>
            <th mat-sort-header="email">Email</th>
            <th mat-sort-header="role">Rol</th>
            <th mat-sort-header="years">Edad</th>
            <th></th>
            <th ></th>
        </thead>
        <tbody>
            <tr *ngFor="let user of users" >
                <td>{{user.id}}</td>
                <td>{{user.name}}</td>
                <td>{{user.email}}</td>
                <td>{{user.role}}</td>
                <td>{{user.years}}</td>
                <td>
                    <fa class="button is-link" name="edit" size="lg" (click)="handlerUpdate(user.id)" ></fa>
                </td>
                <td>
                    <fa class="button is-danger" name="trash" size="lg" (click)="handlerDelete(user)" ></fa>
                </td>
            </tr>
        </tbody>
    </table>
   
</div>